/**{margin: 0px; padding: 0px;}*/

h2{margin: 10px 0px}
h3{
    color: dimgrey;
    margin: 10px 0px;
}

.author{
    font-size: small;
    color: dimgrey;
}

.time{
    font-size: small;
    color: dimgrey;
}



.logo{
    height:70px;
    width: 100px;
}
